@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FFFBED;
    font-family: "Ubuntu", sans-serif;
}

.contianer{
    width: 1180px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: white;
    border: 1px solid;
}
::-webkit-scrollbar-thumb {
    background-color: #fd9339;
    border-radius: 5px;
    cursor: pointer;
}
::-webkit-scrollbar-button{
    cursor: pointer;
}